################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blackjack/.vs/Blackjack/v16/Server/sqlite3/storage.ide-shm
/Blackjack/.vs/Blackjack/v16/Server/sqlite3/storage.ide-wal
